* {
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
}

body {
  display: flex;
  height: 20em;
  width: 80%;
}

h1 {
  font-size: 30pt;
}

p {
  color: #FFFFFF;
  font-size: 25pt;
}

button {
  margin-top: 7%;
  background: transparent;
  border-radius: 8px;
  border-style: solid;
  border-color: #FF9ACF;
  height: 5%;
  width: 20%; 
}

/* GAME BOARD */

.display-container {
  display: flex;
}

.player-one-container,
.player-two-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60em;
  width: 20vw;
  background-image: linear-gradient( #C6D2E3, #F5A2B2, #EAA52A);
  background-attachment: fixed;
}

.game-play-section {
  height: 60em;
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-grid {
  display: grid;
  grid-gap: 1%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); 
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.square {
  position: relative;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8em;
  width: 8em;
  border: 4px solid;
  border-color: #C6D2E3
}

.square.left {
  border-left: none;
}

.square.bottom {
  border-bottom: none;
}

.square.top {
  border-top: none;
}

.square.right {
  border-right: none;
}

.hidden {
  display: none;
}

.two-wins,
.one-wins {
  text-align: center;
}

