* {
  /* border: 1px solid red; */
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
};

body {
  display: flex;
}

html {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 20pt;
}

h3 {
  font-size: 18pt;
}

/* GAME BOARD */

.display-container {
  display: flex;
}


.player-one-container,
.player-two-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60em;
  width: 20vw;
  background-image: linear-gradient( #C6D2E3, #F5A2B2, #EAA52A);
  background-attachment: fixed;
}

.game-play-section {
  height: 60em;
  width: 50em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-grid {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 20% 20% 20%;
  justify-content: center;
  align-items: center;
  margin-top: 18%;
  height: 30em;
  width:30em;
}

.square {
  height: 6em;
  width: 6em;
  margin: 0;
  border: 2px solid;
  border-color: #C6D2E3
}

.winner.visibility-hidden {
  display: none;
}

/* .square.top {
  border-top: none;
}

.square.bottom {
  border-bottom: none;
}

.square.right {
  border-right: none;
}

.square.left {
  border-left: none;
} */